<div class = "navbar navbar-inverse navbar-static-top">
  <div class = "container">
    <div class = "navbar-brand">Henry's Pokedex</div>
    <button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class = "collapse navbar-collapse navHeaderCollapse">
      <ul class = "nav navbar-nav navbar-right">
        <li class="active"><a href="#">Pokemon</a></li>
        <li><a href="#">Abilities</a></li>
        <li><a href="#">Types</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row" ng-controller="pokemonAppCtrl">
  <div class="col-sm-1"></div>

  <div class="search col-sm-5">

    <div class="form-group">
      <label class="control-label" for="inputSuccess2" style="font-size: 20px; text-decoration: underline; margin-top: 4px;">Pokemon Search</label>
      <input type="text" class="form-control" ng-model="query" />
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>

    <div class="list" ng-repeat="columns in PokemonList">
      <div class="col-sm-4" ng-repeat="pokemon in columns | filter:query ">
        <div class="pokemon-name" ng-click="updateProfile()"><a ng-href="/pokemon/{{pokemon.id}}" />{{ pokemon.name }}</div>
      </div>
    </div>

  </div>

  <div class="profile col-sm-5 container-fluid well">
    <div class="pokemon-profile">
      <h2>{{ Pokemon.name }}</h2>
      <img class="picture" ng-src="{{ Pokemon.img }}" />
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h4>Pokedex: {{ Pokemon.pkdx_id }}</h4>
        <h4>Height: {{ Pokemon.height }}</h4>
        <h4>Weight: {{ Pokemon.weight }}</h4>
        <h4>Attack: {{ Pokemon.attack }}</h4>
      </div>
      <div class="col-sm-4">
        <h4>Defense: {{ Pokemon.defense }}</h4>
        <h4>Speed: {{ Pokemon.speed }}</h4>
        <h4>HP: {{ Pokemon.hp }}</h4>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
