
.search {
  text-align: center;
  border: 1px solid black;
}

.list {
  border: 1px solid black;
}

.profile {
  border: 1px solid black;
  text-align: center;
}

.picture {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid rgba(35, 82, 124, .7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.pokemon-name {
  text-align: left;
  margin: 2px 20px;
}

.pokemon-name:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: blue;
}

.pokemon-profile {

}